@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

table {
    border: solid #dcdcdc 1px;
    padding: 25px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

table tr, td {
    padding: 15px;
/ / border: solid #e1e1e1 1 px;
}

table tr td input[type="text"], table tr td input[type="password"], table tr td input[type="email"], .text_input {
    width: 97%;
    height: 45px;
    border: solid #e1e1e1 1px;
    border-radius: 3px;
    padding-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    background: #f9f9f9;
    transition-duration: 0.5s;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4);
}

table tr td {
    font-size: 16px;

}

table tr td button, #submitexam, .submit_btn {
    width: 100%;
    height: 45px;
    border: 0px;
    background: rgba(12, 45, 78, 11);
    background: -moz-linear-gradient(top, #595959, #515151);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.2);
    color: #f9f9f9;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

table tr td button:active, #submitexam, .submit_btn {
    position: relative;
    top: 1px;
}

table tr td a {
    text-decoration: none;
    color: #00a2d1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

/* css for home page  */

* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 60px;
    background: rgba(00, 11, 22, 33);
    color: #9fa8b0;
    font-family: Verdana, Geneva, sans-serif;
}

#header #left {
    float: left;
    position: relative;
}

#header #left label {
    position: relative;
    top: 5px;
    left: 100px;
    font-size: 35px;
}

#header #right {
    float: right;
    position: relative;
}

#header #right #content {
    position: relative;
    top: 20px;
    right: 100px;
    color: #fff;
}

#header #right #content a {
    color: #00a2d1;
}

#body {
    margin-top: 150px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 36px;
    overflow: hidden;

    border: solid #dcdcdc 1px;
    padding: 25px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);

}

#welcomeMsg {
    text-align: center;
}

table.center {

    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.answers {
    display: inline-block;
}

.answers li {
    list-style: upper-alpha;
}

label {
    margin-left: 0.5em;
    cursor: pointer;
}

#results {
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}

#results:hover {
    background: #3d91b8;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}

#categorylist {
    margin-top: 6px;
    display: none;
}

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 {
    display: none;
}

#closing {
    display: none;
    font-style: italic;
}

#checkbox {
    text-align: center;
    font-size: 25px;
    border: 2px solid #ccc;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

/* Table Design*/

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.CSSTableGenerator tr:hover td {

}

/*.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }*/
.CSSTableGenerator tr:nth-child(even) {
    background-color: #ffffff;
}

.CSSTableGenerator td {
    vertical-align: middle;

    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: arial;
    font-weight: normal;
    color: #000000;
}

.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003 f7f);
    background-color: #005fbf;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003 f7f);
    background-color: #005fbf;
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

.exam {
    padding: 2em;
}

ul > li {
    margin-left: 2em;
}

.correct-answer {
    background-color: rgba(0, 128, 0, 0.25);
}

.false-answer {

    background-color: rgba(255, 57, 57, 0.48);
}


